---
import { languages } from "@/constants/languages";

const { lang } = Astro.locals;
const language = lang.toString() || "es";

// console.log("LANGUAGE", language);

const actualLanguage = languages.find(({ lang }) => lang === language);
// console.log("SELECT LANG", actualLanguage);
---

<div class="relative inline-block dropdown">
  <span title={actualLanguage ? actualLanguage.name : ""}>
    {
      actualLanguage ? (
        <img
          src={actualLanguage.flag}
          alt={actualLanguage.name}
          style="width: 25px; height: 25px;"
        />
      ) : (
        <>actualLanguage?.name</>
      )
    }
  </span>
  <ul
    class="absolute hidden bg-zinc-800 text-white w-72 rounded-md mt-0 shadow-md"
    style="right:-17px;"
  >
    {
      languages.map(({ lang, name, flag }) => (
        <li>
          <a
            href="#"
            class="block px-4 py-2 hover:bg-zinc-700 text-right"
            onclick={`javascript:setLanguage('${lang}')`}
          >
            {name}
            <img
              src={flag}
              alt={name}
              style="width: 25px; height: 25px; display: inline-block;"
            />
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .dropdown:hover ul,
  .dropdown ul:hover {
    display: block;
  }
</style>

<script is:inline>
  function setLanguage(lang = "es") {
    document.cookie = `lang=${lang}; Path=/; Max-Age=31536000; SameSite=Lax`;

    // Agregar un pequeño delay para asegurar que la cookie se establezca
    setTimeout(() => {
      document.location.reload();
    }, 500);
  }
</script>
