---
import type { UserList } from "@/models/UserList";
import type { UserListCard } from "../../models/UserListCard";
import ErrorMessage from "../ErrorMessage.astro";
import ListCardGridItem from "./ListCardGridItem.astro";

interface Props {
  list: UserList | null;
  error: string | null;
}

const { list, error } = Astro.props;

const cardHaving = list?.cards?.filter((card) => card.cardName != "").length;
---

<div id="cards-div">
  <div class="cards-grid-header container">
    <div>
      <button
        onclick={`openListCardDialog(${list?.id})`}
        class="bg-blue-500 text-white px-2 rounded-md">+</button
      >
      <span
        >{cardHaving} / {list?.cards?.length} cards ({
          ((cardHaving / list?.cards?.length) * 100).toFixed(2)
        }%)</span
      >
    </div>
    <span>{""}</span>
    <div>
      <input
        type="search"
        id="search-list-grid"
        placeholder="Buscar..."
        oninput="filtering(this.value, '#list-grid', '.cardItem')"
      />
    </div>
  </div>

  <ErrorMessage error={error} />

  <div id="loading" class="loading hidden">Loading cards...</div>

  <div id="list-grid" class="cards-grid container">
    {
      list?.cards && list?.cards?.length > 0 ? (
        list?.cards?.map((item) => (
          <ListCardGridItem listCard={item} listType={list?.type} />
        ))
      ) : (
        <div class="no-cards" style="grid-column: 1 / -1; text-align: center;">
          <h2>No cards found</h2>
          <p>Please select a different set.</p>
        </div>
      )
    }
  </div>
</div>

<script defer src="/scripts/cardItemEffect.js"></script>

<script defer is:inline>
  function normalize(text) {
    return text
      .toLowerCase()
      .normalize("NFD")
      .replace(/\p{Diacritic}/gu, "");
  }

  function filtering(filter, listGridName, listItemName) {
    console.log("FILTERING", filter);

    const listGrid = document.querySelector(listGridName);
    console.log(listGrid);
    if (!listGrid) return;

    const items = listGrid.querySelectorAll(listItemName);
    console.log(items);

    items.forEach(function (el) {
      // Use all visible text within the card for matching
      var text = normalize(el.textContent || "");
      if (text.includes(filter)) el.classList.remove("hidden");
      else el.classList.add("hidden");
    });
  }
</script>

<!-- <script defer src="/scripts/listFilter.js"></script> -->
