---
import { PokeCardHandler } from "../../handlers/PokeCardHandler";
import { PokeCardMini } from "../../models/PokeCardMini";
import type { UserListCard } from "../../models/UserListCard";
import ListCardActions from "./ListCardActions.astro";

interface Props {
  listCard: UserListCard | null;
  listType: string;
}

const { listCard, listType } = Astro.props;
---

<div class="cardItem cardItemEffect">
  <ListCardActions listCard={listCard} />

  <div>
    <a href={`/card/${listCard?.cardId}`}>
      <img
        class="cardItem-image"
        src={listCard?.image || "/img/card-not-found.jpg"}
        alt={listCard?.cardId || "Card not found"}
        title={listCard?.cardName || "Card not found"}
        loading="lazy"
        transition:name={`${listCard?.cardId}-image`}
      />

      <div
        class="capitalize grid grid-cols-2 gap-2 items-start px-1"
        style="grid-template-columns: 1fr 15px;"
      >
        <span>
          {listType == "pokedex" ? listCard?.dexId : listCard?.cardId} -
          {listCard?.pokemonName}
        </span>
        {
          listCard?.cardName != "" && (
            <img
              src={`/img/icon/language/${listCard?.lang}.webp`}
              alt="Language"
              loading="lazy"
              class="w-[1rem] h-[1rem] mt-1"
            />
          )
        }
      </div>
    </a>
  </div>
</div>
