---

---

<div>
  <dialog id="dialogAddCard">
    <div class="dialog-header">
      <h2>Add Card to List</h2>
      <button
        type="button"
        onclick="closeListCardDialog()"
        class="dialog-close-btn">&times;</button
      >
    </div>

    <div id="dialogDivAddCard"></div>
  </dialog>
</div>

<style>
  dialog h2 {
    margin: 0;
  }

  .hidden {
    display: none;
  }

  .success {
    background-color: #10b981;
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
  }

  .error {
    background-color: #ef4444;
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
  }
</style>

<script is:inline>
  let dialogAddCard = null;
  let dialogDivAddCard = null;

  let dialogAddCardLang = null;
  let dialogAddCardSetId = null;
  let dialogAddCardCardId = null;
  let dialogAddCardCardIdInput = null;
  let dialogAddCardCardName = null;
  let dialogAddCardListId = null;

  function initListCardDialog() {
    dialogAddCard = document.querySelector("#dialogAddCard");
    dialogDivAddCard = document.querySelector("#dialogDivAddCard");
  }

  async function openListCardDialog(
    listCardId,
    listId = 0,
    cardId = "",
    cardName = "",
    lang = ""
  ) {
    await loadListCardDialog(listCardId, listId, cardId, cardName, lang);
    if (dialogAddCard) dialogAddCard.showModal();
  }

  async function modListCardDialog(listCardId) {
    await openListCardDialog(listCardId);
  }

  function closeListCardDialog() {
    if (dialogAddCard) dialogAddCard.close();
  }

  function findElements() {
    dialogAddCardLang = document.querySelector("#dialogAddCardLang");
    dialogAddCardSetId = document.querySelector("#dialogAddCardSetId");
    dialogAddCardCardId = document.querySelector("#dialogAddCardCardId");
    dialogAddCardCardIdInput = document.querySelector(
      "#dialogAddCardCardIdInput"
    );
    dialogAddCardCardName = document.querySelector("#dialogAddCardCardName");

    dialogAddCardListId = document.querySelector("#dialogAddCardListId");
  }

  function loadSelectSets() {
    findElements();

    console.log("LOAD SETS");

    const currentLang = dialogAddCardLang ? dialogAddCardLang.value : "en";

    fetch(`/api/sets?lang=${currentLang}`)
      .then((response) => response.json())
      .then((data) => {
        console.log("DATA", data);
        const sets = data.sets || [];

        if (!dialogAddCardSetId) return;

        dialogAddCardSetId.innerHTML = "";
        sets.forEach((set) => {
          const option = document.createElement("option");
          option.value = set.id;
          option.textContent = `${set.name} (${set.id})`;
          dialogAddCardSetId.appendChild(option);
        });
      })
      .catch((error) => {
        console.error("Error loading sets:", error);
      });
  }

  function loadSelectCards() {
    findElements();

    console.log("LOAD CARDS");
    if (!dialogAddCardSetId) return;

    const setId = dialogAddCardSetId.value;
    console.log("SET ID", setId);

    // Obtener el idioma del select o usar "en" por defecto
    const langSelect = document.querySelector('select[name="lang"]');
    const currentLang = langSelect ? langSelect.value : "en";

    fetch(`/api/cards/set/${setId}?lang=${currentLang}`)
      .then((response) => response.json())
      .then((data) => {
        console.log("DATA", data);
        const cards = data.cards || [];
        if (!dialogAddCardCardId) return;

        dialogAddCardCardId.innerHTML = "";
        cards.forEach((card) => {
          const option = document.createElement("option");
          option.value = card.id;
          option.textContent = card.localId
            ? `${card.localId} - ${card.name} `
            : card.name;
          option.dataset.name = card.name;
          dialogAddCardCardId.appendChild(option);
        });

        dialogAddCardCardName.value =
          dialogAddCardCardId.options.length > 0
            ? dialogAddCardCardId.options[0].dataset.name
            : "";
      })
      .catch((error) => {
        console.error("Error loading cards:", error);
      });
  }

  function selectCard() {
    findElements();

    dialogAddCardCardName.value =
      dialogAddCardCardId.options[
        dialogAddCardCardId.selectedIndex
      ].dataset.name;
  }

  async function loadListCardDialog(
    listCardId,
    listId = 0,
    cardId = "",
    cardName = "",
    lang = ""
  ) {
    initListCardDialog();

    // console.log(dialogAddCard, dialogDivAddCard);

    // console.log("LOADING FORM", listCardId, listId, cardId, cardName, lang);

    // if (!cardsDiv || !loading) return;

    // loading.classList.remove("hidden");
    dialogDivAddCard.classList.add("hidden");

    try {
      const response = await fetch(
        `/partials/ListCardFormPartial?listCard=${listCardId}&list=${listId}&card=${cardId}&cardName=${cardName}&lang=${lang}`
      );
      dialogDivAddCard.innerHTML = await response.text();
    } catch (error) {
      console.error("Failed to load cards:", error);
    } finally {
      // loading.classList.add("hidden");
      dialogDivAddCard.classList.remove("hidden");
    }
  }

  function handleListCardDialogSubmit(event) {
    event.preventDefault();
    console.log("Submit");

    const form = document.querySelector("#add-card-form");
    const formData = new FormData(form);
    console.log("FORM DATA", formData);

    const listCardId = formData.get("listCardId");
    const listId = formData.get("listId");
    let setId = formData.get("setId");
    let cardId = formData.get("cardId");
    const cardIdInput = formData.get("cardIdInput");
    const lang = formData.get("lang");
    const cardName = formData.get("cardName");
    const cardVariant = formData.get("cardVariant");

    if (cardIdInput != "") {
      // Agregar carta personalizada
      setId = "";
      cardId = cardIdInput;
    }

    fetch(`/api/list/add-card`, {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
      },
      body: new URLSearchParams({
        listCardId: listCardId,
        listId: listId,
        setId: setId,
        cardId: cardId,
        cardName: cardName,
        lang: lang,
        variant: cardVariant,
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log("Data", data);
        if (data.success) {
          // alert("Card added successfully");
          closeListCardDialog();
          // loadCards(listId);
        } else {
          alert("Error adding card: " + data.error);
        }
      })
      .catch((error) => {
        console.error("Error adding card:", error);
      });
    return false; // evita que el form intente recargarse solo
  }
</script>
