---
import Layout from "../../layouts/Layout.astro";

import { UserListHandler } from "../../handlers/db/UserList/UserListHandler";
import ListCardGrid from "../../components/list/ListCardGrid.astro";
import ListCardForm from "../../components/list/ListCardForm.astro";

// Fetch all sets
const { lang } = Astro.locals;
const language = lang.toString() || "en";

const { listId } = Astro.params;

// console.log("USER LIST ID", listId);

const { list, error } = await UserListHandler.get({
  userListId: parseInt(listId as string, 0),
});

console.log("LIST", list);

const cardHaving = list?.cards?.filter((card) => card.cardName != "").length;

// const description =
//   card?.description || `${card?.name} - ${card?.set?.name} ${card?.localId} `;
---

<Layout title="" description="" robots="noindex, nofollow">
  <h1>{list?.name}</h1>

  <div class="container">
    <span
      >{cardHaving} / {list?.cards?.length} cards ({
        ((cardHaving / list?.cards?.length) * 100).toFixed(2)
      }%)</span
    >
    <button
      onclick="openListCardDialog()"
      class="bg-blue-500 text-white p-2 rounded-md"
      style="float:right;">Add Card</button
    >
  </div>

  <ListCardGrid
    listId={listId || "0"}
    listType={list?.type || "pokedex"}
    cards={list?.cards || []}
    error={error}
  />

  <ListCardForm listId={listId} />
</Layout>

<script is:inline>
  let cardsDiv = null;
  let loading = null;

  document.addEventListener("astro:page-load", () => {
    cardsDiv = document.querySelector("#cards-div");
    loading = document.querySelector("#loading");
  });

  async function loadCards(listId = null) {
    console.log(cardsDiv, loading);

    console.log("LOADING CARDS", listId);

    if (!cardsDiv || !loading) return;

    loading.classList.remove("hidden");
    cardsDiv.classList.add("hidden");

    try {
      const response = await fetch(`/partials/ListGridPartial?list=${listId}`);
      cardsDiv.innerHTML = await response.text();
    } catch (error) {
      console.error("Failed to load cards:", error);
    } finally {
      loading.classList.add("hidden");
      cardsDiv.classList.remove("hidden");
    }
  }
</script>
