---
import Layout from "../../layouts/Layout.astro";

import { UserListHandler } from "../../handlers/db/UserList/UserListHandler";
import ListCardGrid from "../../components/list/ListCardGrid.astro";
import ListCardForm from "../../components/list/ListCardForm.astro";

// Fetch all sets
const { lang } = Astro.locals;
const language = lang.toString() || "en";

const { listId } = Astro.params;

// console.log("USER LIST ID", listId);

const { list, error } = await UserListHandler.get({
  userListId: parseInt(listId as string, 0),
});

// console.log("LIST", list);

const cardHaving = list?.cards?.filter((card) => card.cardName != "").length;

// const description =
//   card?.description || `${card?.name} - ${card?.set?.name} ${card?.localId} `;
---

<Layout title="" description="" robots="noindex, nofollow">
  <!-- <h1>{list?.name}</h1> -->

  <!-- <div class="container">
    <span
      >{cardHaving} / {list?.cards?.length} cards ({
        ((cardHaving / list?.cards?.length) * 100).toFixed(2)
      }%)</span
    >
    <button
      onclick={`openListCardDialog(${listId})`}
      class="bg-blue-500 text-white p-2 rounded-md"
      style="float:right;">Add Card</button
    >
  </div> -->

  <ListCardGrid list={list} error={error} />

  <ListCardForm listId={listId} />
</Layout>

<script is:inline>
  let cardsDiv = null;
  let loading = null;

  document.addEventListener("astro:page-load", () => {
    cardsDiv = document.querySelector("#cards-div");
    loading = document.querySelector("#loading");
  });

  // document.querySelectorAll(".cardItem-image").forEach((image) => {
  //   image.addEventListener("error", function () {
  //     changeImageLang(this);
  //   });
  // });

  // document
  //   .getElementById("cardItem-image")
  //   .addEventListener("error", function () {
  //     changeImageLang(this);
  //   });

  async function loadCards(listId = null) {
    console.log(cardsDiv, loading);

    console.log("LOADING CARDS", listId);

    if (!cardsDiv || !loading) return;

    loading.classList.remove("hidden");
    cardsDiv.classList.add("hidden");

    try {
      const response = await fetch(`/partials/ListGridPartial?list=${listId}`);
      cardsDiv.innerHTML = await response.text();
    } catch (error) {
      console.error("Failed to load cards:", error);
    } finally {
      loading.classList.add("hidden");
      cardsDiv.classList.remove("hidden");
    }
  }

  function changeImageLang(image) {
    const langs = ["en", "ja", "es"];
    const tested = image.dataset.lang.split(",");
    if (image.dataset.lang && tested.length >= langs.length) return; // si no hay mas idiomas, no hacer nada

    let newLangIndex = langs.find((el) => !tested.includes(el)) ?? null;

    console.log("CHANGE IMAGE CARD", image.src, langs, tested, newLangIndex);

    if (newLangIndex == null) return; // sin no hay mas idiomas, no hacer nada

    tested.push(newLangIndex);
    image.dataset.lang = tested.join(",");

    const u = new URL(image.src);
    // console.log("URL", u);
    const partes = u.pathname.split("/");
    // console.log("PARTES", partes);
    partes[1] = newLangIndex;

    let newSrc = u.origin + partes.join("/");
    // console.log("NEW SRC", newSrc);

    image.src = newSrc;
  }
</script>
