---
import type { PokeCardMini } from "../../models/PokeCardMini";
import ListCardActions from "../list/ListCardActions.astro";

interface Props {
  card: PokeCardMini | null;
  lang: string;
}

const { card, lang } = Astro.props;
---

<div class="card cardEffect">
  <ListCardActions card={card} lang={lang} />
  <a href={`/card/${card?.id}`}>
    <img
      src={card && card.image.low != null
        ? card.image.low
        : "/img/card-not-found.jpg"}
      alt={card ? card?.name : "Card not found"}
      title={card ? card?.name : "Card not found"}
      loading="lazy"
      transition:name={`${card?.id}-image`}
    />
  </a>
  <span class="capitalize">
    {card?.localId} - {card?.name}
  </span>
</div>
