---
import Layout from "../layouts/Layout.astro";
import SetSelector from "../components/SetSelector.astro";
import CardGrid from "../components/card/CardGrid.astro";
import { PokeCardMiniHandler } from "../handlers/PokeCardMiniHandler";

// Fetch all sets
const { lang } = Astro.locals;
const language = lang.toString() || "en";

// Get the selected set from URL params or use the latest set

const selectedSetId = Astro.url.searchParams.get("set") || "base1";

const { cards, error } = await PokeCardMiniHandler.getAll({
  setId: selectedSetId,
  language: language,
});

// console.log(selectedSetId);
---

<Layout title="Pokémon TCG Card Browser" description="Explore all cards">
  <main>
    <SetSelector selectedLanguage={lang} selectedSetId={selectedSetId} />
    <div id="loading" class="loading hidden">Loading cards...</div>
    <CardGrid setId={selectedSetId} cards={cards} error={error} />
  </main>
</Layout>

<script>
  let languageSelector: HTMLSelectElement | null = null;
  let setSelector: HTMLSelectElement | null = null;

  let cardsDiv: HTMLDivElement | null = null;
  let loading: HTMLDivElement | null = null;

  document.addEventListener("astro:page-load", () => {
    languageSelector = document.querySelector("#language");
    setSelector = document.querySelector("#set");

    cardsDiv = document.querySelector("#cards-div");
    loading = document.querySelector("#loading");

    languageSelector?.addEventListener("change", (e) => {
      loadCards(languageSelector?.value || null, setSelector?.value || null);
    });

    setSelector?.addEventListener("change", (e) => {
      loadCards(languageSelector?.value || null, setSelector?.value || null);
    });
  });

  async function loadCards(language: string | null, setId: string | null) {
    console.log(cardsDiv, loading);

    if (!cardsDiv || !loading) return;

    loading.classList.remove("hidden");
    cardsDiv.classList.add("hidden");

    try {
      const response = await fetch(
        `/partials/CardGridPartial?language=${language}&set=${setId}`
      );
      cardsDiv.innerHTML = await response.text();
    } catch (error) {
      console.error("Failed to load cards:", error);
    } finally {
      loading.classList.add("hidden");
      cardsDiv.classList.remove("hidden");
    }
  }
</script>
