---
import Layout from '../layouts/Layout.astro';
import SetSelector from '../components/SetSelector.astro';
import CardGrid from '../components/CardGrid.astro';

import TCGdex from '@tcgdex/sdk'
import LanguageSelector from '../components/LanguageSelector.astro';

// Fetch all sets
const language = 'es';

const tcgdex = new TCGdex(language);

const sets = await tcgdex.fetch('sets');
// console.log(sets);
// sets.sort((a, b) => b.releaseDate.localeCompare(a.releaseDate));

// Get the selected set from URL params or use the latest set

const selectedSetId = Astro.url.searchParams.get('set') || 'base1';
// console.log(selectedSetId);
---

<Layout title="Pokémon TCG Card Browser">
  <main>
    <LanguageSelector selectedLanguage={language} />
    <SetSelector language={language} selectedSetId={selectedSetId} />
    <div id="loading" class="loading hidden">Loading cards...</div>
    <CardGrid language={language} setId={selectedSetId} />
  </main>
</Layout>

<script>
  const languageSelector = document.querySelector('#language') as HTMLSelectElement;
  const setSelector = document.querySelector('#set') as HTMLSelectElement;

  const cardsGrid = document.querySelector('#cards-grid');
  const loading = document.querySelector('#loading');

  async function loadCards(language: string, setId: string) {
    if (!cardsGrid || !loading) return;
    
    loading.classList.remove('hidden');
    cardsGrid.classList.add('hidden');

    try {

      const response = await fetch(`/partials/CardGridPartial?language=${language}&set=${setId}`);
      cardsGrid.innerHTML = await response.text();

    } catch (error) {
      console.error('Failed to load cards:', error);
    } finally {
      loading.classList.add('hidden');
      cardsGrid.classList.remove('hidden');
    }
  }

  languageSelector?.addEventListener('change', (e) => {
    loadCards(languageSelector?.value, setSelector .value);
  });

  setSelector?.addEventListener('change', (e) => {
    loadCards(languageSelector?.value, setSelector .value);
  });

</script>

<style is:global>
  
</style>