---
import Layout from "../layouts/Layout.astro";
import CardGrid from "../components/card/CardGrid.astro";
import { PokeCardHandler } from "../handlers/PokeCardHandler";

// Fetch all sets
const { lang } = Astro.locals;
const language = lang.toString() || "en";

const nameQuery = Astro.url.searchParams.get("name") || "";

const { cards, error } = await PokeCardHandler.find({
  language,
  name: nameQuery,
});

console.log("CARDS", cards);
---

<Layout
  title={`Search ${nameQuery}`}
  description={`Search for ${nameQuery} in the website`}
>
  <h2>Search for {nameQuery}</h2>

  <CardGrid cards={cards} error={error} setId={null} />
</Layout>
