---
import { getSession } from "auth-astro/server";
import { PokeCardHandler } from "../../handlers/PokeCardHandler";
import { UserListHandler } from "../../handlers/db/UserList/UserListHandler";
import { PokeSetHandler } from "../../handlers/PokeSetHandler";

export const partial = true;

const listId = Astro.url.searchParams.get("list") || "0";
const language = Astro.url.searchParams.get("lang") || "en";
const cardId = Astro.url.searchParams.get("card") || "base1";
const cardName = Astro.url.searchParams.get("cardName") || "";

const { card, error: cardError } = await PokeCardHandler.get({
  cardId: cardId,
  language: language,
});

// FIND LISTs
const session = await getSession(Astro.request);
const { lists, error: listsError } = await UserListHandler.getAll({
  userId: parseInt(session?.user?.id?.toString() || "0"),
});

// FIND SETs
const { sets, error: setsError } = await PokeSetHandler.getAll({ language });

// FIND CARDs
const setId = card?.set?.id || cardId.split("-")[0];
console.log("SET ID", setId);

const { cards, error: cardsError } = await PokeCardHandler.getAll({
  setId: setId,
  language: language,
});

console.log("CARDS", cards);
console.log("CARD ID", cardId);
---

<div id="status-message" class="hidden"></div>

<form id="add-card-form" onsubmit="return handleListCardDialogSubmit(event)">
  List: <select id="dialogAddCardListId" name="listId" required>
    <option value="0">Select a list first</option>
    {
      lists?.map((list) => (
        <option value={list.id} selected={list.id.toString() === listId}>
          {list.name} ({list.cards?.length} cards)
        </option>
      ))
    }
  </select>
  Lang: <select
    id="dialogAddCardLang"
    name="lang"
    required
    onchange="loadSelectSets()"
  >
    <option value="en" selected={language === "en"}>English</option>
    <option value="es" selected={language === "es"}>Spanish</option>
    <option value="ja" selected={language === "ja"}>Japanese</option>
  </select>
  Set: <select
    id="dialogAddCardSetId"
    name="setId"
    onchange="loadSelectCards()"
  >
    {
      sets?.map((set) => (
        <option
          value={set.id.toString().toLowerCase()}
          selected={set.id.toString().toLowerCase() === setId.toLowerCase()}
        >
          {set.name} ({set.id})
        </option>
      ))
    }
  </select>
  Card: <select
    id="dialogAddCardCardId"
    name="cardId"
    required
    onchange="selectCard()"
  >
    <option value="">Select a card first</option>
    {
      cards?.map((card) => (
        <option
          value={card.id}
          selected={card.id.toString() === cardId}
          data-name={card.name}
        >
          {card.localId ? `${card.localId} - ${card.name} ` : card.name}
        </option>
      ))
    }
  </select>
  <span>&nbsp;</span>
  <input
    type="text"
    id="dialogAddCardCardIdInput"
    name="cardIdInput"
    value=""
  />

  Name: <input
    type="text"
    id="dialogAddCardCardName"
    name="cardName"
    value={cardName}
  />

  <button type="submit" class="bg-blue-500 text-white p-2 rounded-md"
    >Add</button
  >
</form>

<!-- <script is:inline>
  let dialogAddCard = null;
  let dialogAddCardListId = null;
  let dialogAddCardSetId = null;
  let dialogAddCardCardId = null;

  document.addEventListener("astro:page-load", () => {
    console.log("DOMContentLoaded");

    dialogAddCard = document.querySelector("#dialogAddCard");
    dialogAddCardListId = document.querySelector("#dialogAddCardListId");
    dialogAddCardSetId = document.querySelector("#dialogAddCardSetId");
    dialogAddCardCardId = document.querySelector("#dialogAddCardCardId");
  });

  // function openListCardDialog(listId, cardId) {
  //   dialogAddCardListId.value = listId;
  //   dialogAddCardCardId.value = cardId;

  //   if (dialogAddCard) dialogAddCard.showModal();
  // }

  // function closeListCardDialog() {
  //   if (dialogAddCard) dialogAddCard.close();
  // }

  // function loadSelectSets() {
  //   const langSelect = document.querySelector('select[name="lang"]');
  //   const currentLang = langSelect ? langSelect.value : "en";

  //   fetch(`/api/sets?lang=${currentLang}`)
  //     .then((response) => response.json())
  //     .then((data) => {
  //       console.log("DATA", data);
  //       const sets = data.sets || [];

  //       if (!dialogAddCardSetId) return;

  //       dialogAddCardSetId.innerHTML = "";
  //       sets.forEach((set) => {
  //         const option = document.createElement("option");
  //         option.value = set.id;
  //         option.textContent = `${set.name} (${set.id})`;
  //         dialogAddCardSetId.appendChild(option);
  //       });
  //     })
  //     .catch((error) => {
  //       console.error("Error loading sets:", error);
  //     });
  // }

  // function loadSelectCards() {
  //   console.log("LOAD CARDS");
  //   if (!dialogAddCardSetId) return;

  //   const setId = dialogAddCardSetId.value;
  //   console.log("SET ID", setId);

  //   // Obtener el idioma del select o usar "en" por defecto
  //   const langSelect = document.querySelector('select[name="lang"]');
  //   const currentLang = langSelect ? langSelect.value : "en";

  //   fetch(`/api/cards/set/${setId}?lang=${currentLang}`)
  //     .then((response) => response.json())
  //     .then((data) => {
  //       console.log("DATA", data);
  //       const cards = data.cards || [];
  //       if (!dialogAddCardCardId) return;

  //       dialogAddCardCardId.innerHTML = "";
  //       cards.forEach((card) => {
  //         const option = document.createElement("option");
  //         option.value = card.id;
  //         option.textContent = card.localId
  //           ? `${card.localId} - ${card.name} `
  //           : card.name;
  //         dialogAddCardCardId.appendChild(option);
  //       });
  //     })
  //     .catch((error) => {
  //       console.error("Error loading cards:", error);
  //     });
  // }

  //   function handleListCardDialogSubmit(event) {
  //     event.preventDefault();
  //     console.log("Submit");

  //     const listIdElement = document.getElementById("listId");
  //     const setIdElement = document.getElementById("setId");
  //     const cardIdElement = document.getElementById("cardId");
  //     const langElement = document.getElementById("lang");

  //     console.log(listIdElement, setIdElement, cardIdElement, langElement);

  //     if (!listIdElement || !setIdElement || !cardIdElement || !langElement) {
  //       return;
  //     }

  //     const listId = listIdElement.value;
  //     const setId = setIdElement.value;
  //     const cardId = cardIdElement.value;
  //     const lang = langElement.value;

  //     console.log("List ID", listId);
  //     console.log("Set ID", setId);
  //     console.log("Card ID", cardId);
  //     console.log("Lang", lang);

  //     fetch(`/api/list/add-card`, {
  //       method: "POST",
  //       headers: {
  //         "Content-Type": "application/x-www-form-urlencoded",
  //       },
  //       body: new URLSearchParams({
  //         listId: listId,
  //         setId: setId,
  //         cardId: cardId,
  //         lang: lang,
  //       }),
  //     })
  //       .then((response) => response.json())
  //       .then((data) => {
  //         console.log("Data", data);
  //         if (data.success) {
  //           alert("Card added successfully");
  //           loadCards(listId);
  //         } else {
  //           alert("Error adding card: " + data.error);
  //         }
  //       })
  //       .catch((error) => {
  //         console.error("Error adding card:", error);
  //       });
  //     return false; // evita que el form intente recargarse solo
  //   }
</script> -->
