---
import { getSession } from "auth-astro/server";
import { languages } from "../../constants/languages";
import { variants } from "../../constants/variants";
import { PokeCardHandler } from "../../handlers/PokeCardHandler";
import { UserListHandler } from "../../handlers/db/UserList/UserListHandler";
import { PokeSetHandler } from "../../handlers/PokeSetHandler";
import { sequence } from "astro:middleware";
import { UserListCardHandler } from "@/handlers/db/UserList/UserListCardHandler";

export const partial = true;

const listCardId = Astro.url.searchParams.get("listCard") || "0";
let listId = Astro.url.searchParams.get("list") || "0";
let language = Astro.url.searchParams.get("lang") || "en";
let cardId = Astro.url.searchParams.get("card") || "base1";
let cardName = Astro.url.searchParams.get("cardName") || "";
let cardVariant = "";

//console.log("FORM PARAMS", listCardId, listId, cardId, cardName, language);

if (listCardId != "0") {
  const { listCard, error: listCardError } = await UserListCardHandler.get({
    userListCardId: listCardId,
  });

  console.log("LIST CARD", listCard);

  listId = listCard?.listId.toString() || "0";
  language = listCard?.lang || "en";
  cardId = listCard?.cardId || "";
  cardName = listCard?.cardName || "";
  cardVariant = listCard?.variant || "";
}

const { card, error: cardError } = await PokeCardHandler.get({
  cardId: cardId,
  language: language,
});

// FIND LISTs
const session = await getSession(Astro.request);
const { lists, error: listsError } = await UserListHandler.getAll({
  userId: parseInt(session?.user?.id?.toString() || "0"),
});

// FIND SETs
const { sets, error: setsError } = await PokeSetHandler.getAll({ language });

// FIND CARDs
const setId = card?.set?.id || cardId.split("-")[0];
console.log("SET ID", setId);

const { cards, error: cardsError } = await PokeCardHandler.getAll({
  setId: setId,
  language: language,
});

const action = listCardId == "0" ? "Add" : "Update";

// console.log("CARDS", cards);
// console.log("CARD ID", cardId);
---

<div id="status-message" class="hidden"></div>

<form id="add-card-form" onsubmit="return handleListCardDialogSubmit(event)">
  List: <select id="dialogAddCardListId" name="listId" required>
    <option value="0">Select a list first</option>
    {
      lists?.map((list) => (
        <option value={list.id} selected={list.id.toString() === listId}>
          {list.name} ({list.cards?.length} cards)
        </option>
      ))
    }
  </select>
  Lang: <select
    id="dialogAddCardLang"
    name="lang"
    required
    onchange="loadSelectSets()"
  >
    {
      languages.map((lang) => (
        <option value={lang.code} selected={lang.code === language}>
          {lang.name}
        </option>
      ))
    }
    <!-- <option value="en" selected={language === "en"}>English</option>
    <option value="es" selected={language === "es"}>Spanish</option>
    <option value="ja" selected={language === "ja"}>Japanese</option> -->
  </select>
  Set: <select
    id="dialogAddCardSetId"
    name="setId"
    onchange="loadSelectCards()"
  >
    {
      sets?.reverse().map((set) => (
        <option
          value={set.id.toString().toLowerCase()}
          selected={set.id.toString().toLowerCase() === setId.toLowerCase()}
        >
          {set.name} ({set.id})
        </option>
      ))
    }
  </select>
  Card: <select id="dialogAddCardCardId" name="cardId" onchange="selectCard()">
    <option value="">Select a card first</option>
    {
      cards?.map((card) => (
        <option
          value={card.id}
          selected={card.id.toString() === cardId}
          data-name={card.name}
        >
          {card.localId ? `${card.localId} - ${card.name} ` : card.name}
        </option>
      ))
    }
  </select>
  <span>&nbsp;</span>
  <input
    type="text"
    id="dialogAddCardCardIdInput"
    name="cardIdInput"
    value={cardId}
  />

  Name: <input
    type="text"
    id="dialogAddCardCardName"
    name="cardName"
    value={cardName}
  />
  Variant:
  <span class="flex flex-row flex-wrap gap-2">
    {
      variants.map((variant) => (
        <label
          for={`dialogAddCardCardVariant-${variant.code}`}
          class="mr-2 flex flex-row items-center"
        >
          <input
            type="radio"
            id={`dialogAddCardCardVariant-${variant.code}`}
            name="cardVariant"
            value={variant.code}
            class="mr-2"
            checked={variant.code === cardVariant}
          />
          <img
            src={variant.flag.dark}
            class="w-8 h-8"
            alt={variant.name}
            title={variant.name}
          />
        </label>
      ))
    }
  </span>

  <button type="submit" class="bg-blue-500 text-white p-2 rounded-md"
    >{action}</button
  >

  <input type="hidden" name="listCardId" value={listCardId} />
</form>
