---
import type { PokeSet } from "../../models/PokeSet";

const { sets } = Astro.props;
---

<div
  class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 w-full"
>
  {
    sets && sets.length > 0 ? (
      sets.map((set: PokeSet) => (
        <a href={`/${set.id}`} class="w-full">
          <div class="rounded-lg flex flex-col items-center">
            <div
              id="card"
              class="grid grid-cols-1 relative w-[250px] h-[150px] group rounded-lg overflow-hidden"
              style={`background-image: url(${set.logo || ""}); background-size: cover; background-position: center;padding: 10px 10px 50px 10px;`}
            >
              <div class="w-full h-auto text-center">
                {/* <img
                  class="rounded-lg max-w-full max-h-full object-contain transition-transform duration-300 group-hover:scale-110"
                  src={set.logo || ""}
                  alt={set.name}
                  loading="lazy"
                /> */}
              </div>

              <div class="w-full flex-1 flex justify-center items-end gap-2">
                <img
                  class="w-8 h-8 inline-block"
                  src={set.symbol || ""}
                  alt={set.name}
                />
                <h3 class="font-manrope font-bold text-sm text-white leading-8">
                  {set.name}
                </h3>
              </div>
            </div>
          </div>

          {/* <div
            class="pokemon-card h-full bg-zinc-900 border-zinc-800 overflow-hidden"
            style='background-image: url({set.logo || ""})'
          >
            <div class="w-full h-auto">
              <img
                src={set.logo || ""}
                alt={set.name}
                class="w-full h-auto max-w-full object-contain transition-transform hover:scale-110 duration-500"
                sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw"
              />
            </div>
            <img
              src={set.symbol}
              alt={`${set.name} Symbol`}
              width={120}
              height={60}
              class="h-auto max-h-16 w-auto max-w-[120px] absolute top-1/2 left-1/2 size-32 object-contain transform -translate-x-1/2 -translate-y-1/2"
            />
            <div class="p-4">
              <h3 class="text-center text-sm font-semibold text-white">
                {set.name}
              </h3>
            </div>
          </div> */}
        </a>
      ))
    ) : (
      <div class="col-span-full text-center py-8">
        <h2 class="text-xl font-semibold text-white">No sets found</h2>
        <p class="text-gray-400">Please try again later.</p>
      </div>
    )
  }
</div>
